* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #141414;
}

h1 {
    text-transform: uppercase;
    font-size: 5em;
    padding: 20px;
    line-height: 200%;
    color: #959393d3;
    background-color: transparent;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    animation: animate 5s forwards;
    border-right: 5px solid #959393d3;
}

@keyframes animate {
    0% {
        width: 100%;
        z-index: 1;
    }
    50% {
        width: 0%;
        z-index: 1;
    }
    51% {
        width: 0%;
        z-index: -1;
    }
    100% {
        width: 100%;
        z-index: -1;
    }
}
